.label {
	font-weight:500;
}
.blank{
	height:50px;
	width:100%;
}
.head{
	width:100%;
	height:90px;
	margin:0 auto;
	z-index:9999;
	text-align:center;
}
.head-content{
	width:440px;
	margin:auto;
	float:center;
}
.head-content a{
	float:left;
	width:220px;
	height:50px;
	line-height:30px;
	margin-top:15px;
	text-align:center;
	color:#FFF;
	text-decoration:none;
}
.head-content a:hover{
	color:#ffebc8;
	text-decoration:none;
}
.h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	color: #61A8F8;
}
.stasearch{
    width: 450px;
	height: 100px;
	margin: 0 auto;
	border: 3px solid #1B1B1B;
}
.ul{
    list-style: none;
	margin:0 10px;
}
.uk-modal-footer {
	margin: 10px auto;
	text-align: center;
}
.uk-modal-dialog {
	background: #cedff6;
	width: 380px;
}
.limit{
	background: #cedff6;
	width: 400px;
	margin: 0 auto;
}
/*Main CSS*/
.comsearch{
	border:solid 3px #000000;
	width:560px;
	margin:0 auto 0;
	text-align: center;
	line-height: 30px;
}
.comsearch1{
	border:solid 3px #000000;
	width: 480px;
	margin:0 auto 0;
	text-align: center;
	line-height: 30px;
}

.title11{

	width: 560px;
	height: 40px;
	margin: 0 auto;
	color:#1B1B1B;
	font-size: 17px;
	font-weight:500;
}
.title12{

	width: 400px;
	height: 40px;
	margin: 0 auto;
	color:#1B1B1B;
	font-size: 17px;
	font-weight:500;
}
.title{
	height: 40px;
	margin:0 auto 0;
	color:#1B1B1B;
	font-size: 17px;
	font-weight:500;
	text-align: center;
}
.title1{
	width: 100px;
	float: left;
}
.title2{
	width: 100px;
	float: left;
	text-align: center;
}
.title3{
	width: 100px;
	float: left;
}
.title4{
	width: 130px;
	float: left;
	text-align: center;

}
.title5{
	width: 100px;
	float: left;
	margin-left:10px;
}
.title6{
	width: 200px;
	float: left;
}
.title7{
	width: 50px;
	height: 50px;
	float: left;
	margin-left:10px;
}
.title8{
	width: 150px;
	float: left;
	text-align: center;

}

.allsearch1{
	width: 100%;
	margin: 0 250px;
}
.allsearch{
	width: 100%;
}
.saletitle{
	height: 40px;
	margin:10px auto 0;
	color:#1B1B1B;
	font-size: 17px;
	font-weight:500;
	text-align: center;
}

.comsearch2{
	width: 100%;
	clear: both;
	margin:10px auto;
	text-align: left;
}
.comsearch2 form{
	display: inline-block;
	margin: 0 10px;
}
.comsearch2 form input[type="text"]{
	border-radius: 5px;
	border:1px solid #263f56;
}
.controls2 input[type="text"]{
	width: 80px;
	height: 28px;
	border-radius: 5px;
	border:1px solid #555;
	padding-left: 6px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.controls2 input[type="text"]:hover,
.controls2 input[type="text"]:focus,
.controls2 input[type="text"]:active,
.controls2 select:hover,
.controls2 select:focus,
.controls2 select:active{
	border-color:#263f56;
	-webkit-box-shadow:0 0 10px rgba(255,255,255,1);
	-moz-box-shadow:0 0 10px rgba(255,255,255,1);
	box-shadow:0 0 8px rgba(255,255,255,1);
}
.controls2 select{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid #555;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.title4 input[type="text"]{
	/*	margin-left: 10px;*/
	width: 35px;
	height: 28px;
	border-radius: 5px;
	border:1px solid #555;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.title5 input[type="button"]{
	/*	margin-left: 40px;*/
}
.title6 input[type="button"]{
	margin-top:20px;
	margin-left:65px;
}
.ss_print{
	width:700px;
	height:auto;
	margin:30px auto;
}
.com_print{
	width:650px;
	height:400px;
	margin:30px auto;
	overflow:scroll;
}
	.form-control{
		text-align:center;
		width: 85%;
		margin-left:10px;
	}

.searchset{
	font-size: 17px;
	text-align: center;
	color: #1B1B1B;
	font-weight: 700;
	width: 400px;
	margin: 0 auto;
}
.searchset2{
	width: 450px;
	height: 25px;
	margin: 16px auto 0px;
	text-align:center;
}
.searchset1{
	margin-left:20px;
	margin-top: 5px;
}
.searchset1 input[type="text"]{
	width: 80px;
	height: 28px;
	border-radius: 5px;
	border:1px solid #555;
	margin: 0 10px;
}
.searchset select{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid #555;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.salsearch{
	border:solid 3px #000000;
	padding:10px;
	width:490px;
	margin:0 auto 0;
	text-align: center;
	line-height: 30px;
}
.button, input, select, textarea{
	font-family: inherit;
	line-height:20px;
}
.uk-button{
    padding: 0px 8px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.uk-button:hover{
    color: #FFF;
    background-color:#39f;
}