body,header,main,mainmanage,ul,li{margin:0;padding:0;}
ul{list-style: none;}
span{
	font-size:18px;
}
/*  弹窗css */
.detailpart{
	width:700px;
	height:250px;
	margin:0 auto;
	text-align:center;
}
.uk-modal-dialog{
	background: #cedff6;
	width:700px;
}

.uk-modal-header{
	color: #555;
}
.staffchange{
	width:700px;
	height:800px;
	margin:0 auto;
	text-align:center;
}
.uk-modal-footer{
	margin:10px auto;
	text-align:center;
}
/*左侧菜单栏*/
header ul.social li a,
.main .work a .caption,
header nav ul li a{
    transition:all .1s linear;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
}

h1, h2, h3, h4, h5 ,h6{
    color: #4b4848;
    font-family: "raleway-regular", arial;
    letter-spacing: 4px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}





/*  Header  */
@media (min-width:1099px){
    header{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        min-height: 100%;
        padding: 0 0 0 10px;
        background: #ffffff; 
        float: left;
        overflow: hidden;
        z-index: 9999;
    }

    header .logo{
        margin-top: 80px;
    }

    header nav ul{
        display: block;
        overflow: hidden;
        margin-top: 100px;
        list-style: none;
    }

    header nav ul li{
        display: block;
        margin-bottom: 30px;
    }

    header nav ul li a{
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 18px;
        text-decoration: none;
        letter-spacing: 5px;
		font-weight:500;
    }
    header nav ul li a:hover,
    header nav ul li a.selected{
        color: #969595;
    }
	.uk-nav-side ul a{
		color: #999090;
	}
    header .footer{
        position: absolute;
        bottom: 50px;
    }

    header ul.social{
        list-style: none;
        margin-bottom: 5px;
    }

    header ul.social li{
        display: block;
        float: left;
        position: relative;
        margin: 0 15px 15px 0;
    }


    header ul.social li a{
        display: block;
        width: 50px;
        height: 30px;
        background: url('../image/exit.png') no-repeat;
        background-position: 0 0;
		
    }


    header ul.social li a:hover{
        background: url('../image/exit_hover.png') no-repeat;
    }



    header ul.social li a.fb,
    header ul.social li a.fb:hover{
        background-position: 0 0;
    }


    header ul.social li a.google,
    header ul.social li a.google:hover{
        background-position: -1px 0;
    }

    header .rights p{
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 18px;
    }

    header .rights a{
        font-family: "raleway-bold", arial;
        font-weight: bold;
        text-decoration: none;
    }
    #menu_icon,
    .close_menu{
        display: none;
    }

}

@media (max-width:1099px){

    header{
        display: block;
        width: 100%;
        min-height: 100px;
        padding: 0;
        position: relative;
    }
    header .logo{
        margin: 40px 0 0 30px;
        float: left;
    }
    header .footer{
        display: none;
    }
    header #menu_icon,
    header .close_menu{
        float: right;
        margin: 30px 30px 0 0;
    }
    
    header nav{
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: 9999;
    }

    header nav ul{
        list-style: none;
        display: none;
        position: relative;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        padding: 30px 0;
        text-align: center;
        color: #454545;
        font-family: "raleway-regular", arial;
        font-size: 14px;
        text-decoration: none;
        border-top: 1px solid #f7f5f5;
        background: #fff;
    }
    header nav ul li a:active{
        background: #f7f5f5;
    }
    #menu_icon,
    .close_menu,
    .show_menu{
        display: block;
    }
    .show_menu{
        display: block;
    }
    #map{
        margin: 0!important;
    }
}

/*  Main  */
.h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}
.body{
	background-image:url(../image/manageback.jpg);
	
}

.h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: white;
}
.mainmanage{
    display: block;
    width: 82%;
	height:700px;
    float: right;
    position: relative;
    overflow: hidden;
	background: #7BBCF4 url(../image/manageback.jpg) repeat 50% 50% fixed;
}

.stasearch{
    width: 450px;
	height: 100px;
	margin: 0 auto;
	border: 3px solid #1B1B1B;
}
.ul{
    list-style: none;
	margin:0 10px;
}


.button{
    padding: 3px 9px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.button:hover{
    color: #FFF;
    background-color:#39f;
}
/*测试部分*/
.comsearch{
	border:solid 3px #555;
	width: 450px;
	margin:0 auto 0;
	text-align: center;
	line-height: 30px;
}
.title11{		
		height: 40px;
		margin:0 auto 0;
		color:#1B1B1B;
		font-size: 16px;
		text-align: center;
	}
.title11 label{
	display:block;
	margin-bottom:5px;
	font-weight:500
}
	.title{
		height: 40px;
		margin:0 auto 0;
		color:#1B1B1B;
		font-size: 17px;
		font-weight:500;
		text-align: center;
	}
	.title1{
		width: 100px;
		float: left;
	}
	.title2{
		width: 130px;
		float: left;
	}
	.form-control{
		text-align:center;
		width: 85%;
		margin-left:10px;
	}
.blank{
	height:50px;
	width:100%;
}

.searchset{
	font-size: 17px;
	text-align: center;
	color: #1B1B1B;
	font-weight: 700;
	width: 400px;
	margin: 0 auto;
}
.searchset2{
	width: 450px;
	height: 25px;
	margin: 16px auto 0px;
	text-align:center;
}
.searchset1{
	margin-left:20px;
	margin-top: 5px;
}
.searchset1 input[type="text"]{
	width: 80px;
	height: 28px;
	border-radius: 5px;
	border:1px solid #555;
	margin: 0 10px;
}
.searchset select{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-radius: 5px;
	border:1px solid #555;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.sale_print{
	width:700px;
	height:auto;
	margin:30px auto;
	overflow:scroll;
}
.uk-button{
    padding: 0px 8px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.uk-button:hover{
    color: #FFF;
    background-color:#39f;
}