.mainmanage{
    display: block;
    width: 82%;
    height:700px;
    float: right;
    position: relative;
    overflow: hidden;
    background: #7BBCF4 url(../image/manageback.jpg) repeat 50% 50% fixed;
}

.stasearch{
    width: 650px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid #1B1B1B;
}
.stasearch2{
    width: 460px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid #1B1B1B;
}
.ul{
    list-style: none;
    margin:0 10px;
}


.button{
    padding: 3px 9px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.button:hover{
    color: #FFF;
    background-color:#39f;
}
/*测试部分*/
.comsearch{
    border:solid 3px #555;
    width: 650px;
    margin:0 auto 0;
    text-align: center;
    line-height: 30px;
}
.controls2 input[type="text"]{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    padding-left: 6px;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.controls2 input[type="text"]:hover,
.controls2 input[type="text"]:focus,
.controls2 input[type="text"]:active,
.controls2 select:hover,
.controls2 select:focus,
.controls2 select:active{
    border-color:#263f56;
    -webkit-box-shadow:0 0 10px rgba(255,255,255,1);
    -moz-box-shadow:0 0 10px rgba(255,255,255,1);
    box-shadow:0 0 8px rgba(255,255,255,1);
}
.controls2 select{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.controls3{
    width: 410px;
    height: 40px;
    margin: 0 auto;
}
.controls3 input[type="text"]{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    padding-left: 6px;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.controls3 input[type="text"]:hover,
.controls3 input[type="text"]:focus,
.controls3 input[type="text"]:active,
.controls3 select:hover,
.controls3 select:focus,
.controls3 select:active{
    border-color:#263f56;
    -webkit-box-shadow:0 0 10px rgba(255,255,255,1);
    -moz-box-shadow:0 0 10px rgba(255,255,255,1);
    box-shadow:0 0 8px rgba(255,255,255,1);
}
.controls3 select{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.title11{
    height: 40px;
    margin:0 auto 0;
    color:#1B1B1B;
    font-size: 16px;
    text-align: center;
}
.title11 label{
    display:block;
    margin-bottom:5px;
    font-weight:500
}
.title{
    height: 40px;
    margin:0 auto 0;
    color:#1B1B1B;
    font-size: 17px;
    font-weight:500;
    text-align: center;
}
.title1{
    width: 100px;
    float: left;
    
}

.title2{
    width: 130px;
    float: left;
}
.title4{
    width: 90px;
    float: left;
    margin-left:5px;
}
.title5{
    width: 90px;
    float: left;
    margin-left:10px;
    margin-right:5px;
}
.title4 input[type="text"]{
    width: 35px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.form-control{
    text-align:center;
    width: 85%;
    margin-left:10px;
}
.blank{
    height:50px;
    width:100%;
}

.searchset{
    font-size: 17px;
    text-align: center;
    color: #1B1B1B;
    font-weight: 700;
    width: 600px;
    margin: 0 auto;
}
.searchset3{
    font-size: 17px;
    text-align: center;
    color: #1B1B1B;
    font-weight: 700;
    width: 460px;
    margin: 10px auto;
}
.searchset2{
    width:600px;
    height: 25px;
    margin: 16px auto 0px;
    text-align:center;
}
.searchset4{
     height: 25px;
     margin-left:20px;
     margin-top: 5px;
     text-align:center;
 }
.searchset1{
    margin-left:20px;
    margin-top: 5px;
}
.searchset1 input[type="text"]{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    margin: 0 10px;
}
.searchset select{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.sale_print{
    width:600px;
    height:auto;
    margin:30px auto;
}
.sale_print2{
    width:500px;
    height:auto;
    margin:30px auto;
}
/*  弹窗css */
.detailpart{
    width:700px;
    height:250px;
    margin:0 auto;
    text-align:center;
}

.uk-modal-dialog{
    background: #cedff6;
    width:300px;
}
.limit{
    background: #cedff6;
    width:580px;
    height: 203px;
    margin: 0 auto;
}
.uk-modal-header{
    color: #555;
}
.staffchange{
    width:700px;
    height:800px;
    margin:0 auto;
    text-align:center;
}
.uk-modal-footer{
    margin:10px auto;
    text-align:center;
}
.uk-button{
    padding: 0px 8px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.uk-button:hover{
    color: #FFF;
    background-color:#39f;
}