/*弹出框*/
.detailpart{
    width:700px;
    height:250px;
    margin:0 auto;
    text-align:center;
}
.uk-modal-dialog{
    background: #cedff6;
    width:300px;
}
.uk-modal-header{
    color: #555;
}
.staffchange{
    width:700px;
    height:800px;
    margin:0 auto;
    text-align:center;
}
.uk-modal-footer{
    margin:10px auto;
    text-align:center;
}
/* Main */
.blank{
    height:50px;
    width:100%;
}
.head{
    width:100%;
    height:90px;
    margin:0 auto;
    z-index:9999;
    text-align:center;
}
.head-content{
    width:440px;
    margin:auto;
    float:center;
}
.head-content a{
    float:left;
    width:220px;
    height:50px;
    line-height:30px;
    margin-top:15px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
}
.head-content a:hover{
    color:#ffebc8;
    text-decoration:none;
}
.h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    color: #61A8F8;
}
.stasearch{
    width: 450px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid #1B1B1B;
}
.ul{
    list-style: none;
    margin:0 10px;
}

/*测试部分*/
.comsearch{
    border:solid 3px #000000;
    width:560px;
    margin:0 auto 0;
    text-align: center;
    line-height: 30px;
}
.title11{
    text-align:center;
    width: 560px;
    height: 40px;
    margin: 0 auto;
    color:#1B1B1B;
    font-size: 17px;
    font-weight:500;
}
.title12{
    text-align:center;
    width: 550px;
    height: 40px;
    margin: 0 auto;
    color:#1B1B1B;
    font-size: 17px;
    font-weight:500;
}
.title{
    height: 40px;
    margin:0 auto 0;
    color:#1B1B1B;
    font-size: 17px;
    font-weight:500;
    text-align: center;
}
.title1{
    width: 100px;
    float: left;
}
.title2{
    width: 130px;
    float: left;
}
.title3{
    width: 100px;
    float: left;
}
.title4{
    width: 130px;
    float: left;

}
.title5{
    width: 100px;
    float: left;
    margin-left:10px;
}
.title6{
    width: 200px;
    float: left;
}
.allsearch1{
    width: 100%;
    margin: 0 250px;
}
.allsearch{
    width: 100%;
}
.comsearch2{
    width: 90%;
    clear: both;
    margin: 20px auto 0px;
    text-align: left
}
.comsearch2 form{
    display: inline-block;
    margin: 0 10px;
}
.comsearch2 form input[type="text"]{
    border-radius: 5px;
    border:1px solid #263f56;
}
.controls2 input[type="text"]{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    padding-left: 6px;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.controls2 input[type="text"]:hover,
.controls2 input[type="text"]:focus,
.controls2 input[type="text"]:active,
.controls2 select:hover,
.controls2 select:focus,
.controls2 select:active{
    border-color:#263f56;
    -webkit-box-shadow:0 0 10px rgba(255,255,255,1);
    -moz-box-shadow:0 0 10px rgba(255,255,255,1);
    box-shadow:0 0 8px rgba(255,255,255,1);
}
.controls2 select{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.title4 input[type="text"]{
    /*	margin-left: 10px;*/
    width: 35px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.title5 input[type="button"]{
    /*	margin-left: 40px;*/
}
.title6 input[type="button"]{
    margin-top:20px;
    margin-left:65px;
}
.com_print{
    width:560px;
    height:auto;
    margin:30px auto;
}
.form-control{
    text-align:center;
    width: 85%;
    margin-left:10px;
}

.searchset{
    font-size: 17px;
    text-align: center;
    color: #1B1B1B;
    font-weight: 700;
    width: 400px;
    margin: 0 auto;
}
.searchset2{
    width: 450px;
    height: 25px;
    margin: 16px auto 0px;
    text-align:center;
}
.searchset1{
    margin-left:20px;
    margin-top: 5px;
}
.searchset1 input[type="text"]{
    width: 80px;
    height: 28px;
    border-radius: 5px;
    border:1px solid #555;
    margin: 0 10px;
}
.searchset select{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    border:1px solid #555;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.salsearch{
    border:solid 3px #000000;
    padding:10px;
    width:600px;
    margin:0 auto 0;
    text-align: center;
    line-height: 20px;
}
.sale_print{
    width:650px;
    height:400px;
    margin:30px auto;
    overflow: scroll;
}
.uk-button{
    padding: 0px 8px;
    color: #263f56;
    border:1px solid #263f56;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.uk-button:hover{
    color: #FFF;
    background-color:#39f;
}
